# OpenHarmony / Node
/node_modules
/oh_modules

# Local IDE and build outputs
/local.properties
/.idea
/.hvigor
/.appanalyzer
/.cxx
**/build
**/.test

# Editor metadata
/.clangd
/.clang-format
/.clang-tidy
*.iml

# Logs
*.log
