[submodule "cpp/love"]
	path = cpp/love
	url = https://github.com/love2d-openharmony/love
	branch = main
[submodule "cpp/megasource"]
	path = cpp/megasource
	url = https://github.com/love2d-openharmony/megasource
	branch = main
